.mainDiv {
    background-color: #fdfdfd;
    padding: 20px 40px 80px;
}
.Comment {
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
}
.Avatar {
    width: 80%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 2px solid;
}
.UserInfo {
    margin-bottom: 6px;
}
.UserInfo-name {
    margin-top: 12px;
    font-size: 22px;
}
